.app-title {
    color: #003366;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.page-container {
    padding: 50px;
}

.item-card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}